html {
  position: relative;
  min-height: 100%;
}
body {
  background-color: $light-grey;
  overflow-x: hidden;
}

.head {
  height: 60px;
  text-align: right;
  background-color: white;
  padding: 18px 60px 20px 15px;

  span {
    font-size: 14pt;
  }
}

.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  /* Set the fixed height of the footer here */
  height: 60px;
  background-color: #f5f5f5;
}

body.admin-bar .navbar {
  position:fixed;
  top: 28px;
  z-index: 1000;
  height: 40px;
}

body > .container {
  padding: 60px 15px 0;
}
.container .text-muted {
  margin: 20px 0;
}

.footer > .container {
  padding-right: 15px;
  padding-left: 15px;
}
/*
Navagation Menu
*/

ul, menu, dir {
    display: block;
    list-style-type: disc;
    -webkit-margin-before: 1em;
    -webkit-margin-after: 1em;
    -webkit-margin-start: 0px;
    -webkit-margin-end: 0px;
    -webkit-padding-start: 0px;
}

.nav-main{
  position: fixed;
  background-color: white;
  width: 100%;
  height: 100%;
  left: 0;
  z-index: 100;
  @include transition(all 300ms ease-out);
  // @include translate3d(-2000px, 0px, 0px);

  li {
    list-style-type: none;
  }

  &.active{
    @include translate3d(0px, 0px, 0px);

    .menu-toggle{
      @include translate3d(0px, 0px, 0px);
      left: 50%;
      margin-left: -15px;
      .bar-1{
        top: -5px;
        @include rotate(90deg);
        opacity: 0;
      }


      .bar-3{
        top: 13px;
        @include rotate(-50deg);
      }


      .bar-6{
        top: 13px;
        @include rotate(50deg);
      }
    }
  }

//   &.loading{
//     .menu-toggle{
//         // @include translate3d(2000px, 0px, 0px);
//         left: 50%;
//         margin-left: -15px;
//
// 			.bar-1{
// 				opacity: 0.0;
// 			}
//
// 			.bar-3{
// 				top: 0px;
// 				width: 35px;
// 				height: 35px;
// 				background-color: transparent;
// 				border: 5px solid $dark-grey;
// 				opacity: 1.0;
// 				@include border-radius(50%);
// 				@include transition(all 100ms ease-out 0s);
// 			}
//
// 			.bar-6{
// 				opacity: 0.0;
// 				@include transition(all 0ms ease-out 0s);
// 			}
//
// 			.bar-7{
// 				top: 20px;
// 				width: 30px;
// 				left: 8px;
// 				opacity: 1.0;
// 				@include border-radius(2px);
//           animation-duration: 1s;
//           animation-name: rotate;
//           animation-iteration-count: infinite;
//           animation-timing-function: linear;
// 			}
// 		}
//   }
// }

.menu-toggle{
	position: fixed;
	height: 50px;
	width: 30px;
	margin: 0 auto;
	top: 20px;
  left: 30px;
  cursor: pointer;
  @include translate3d(40px, 0px, 0px);
	@include transition(all 300ms ease-out 0ms);

  &:hover{

    .bar-1,{
      top: -1px;
    }

    .bar-3{
      top: 10px;
    }

    .bar-6{
      top: 21px;
    }

    .menu-bar{
      background-color: $red;
    }
  }
}

.menu-bar{
	width: 30px;
	height: 5px;
	left: 0px;
	background-color: $dark-grey;
	position: absolute;
	@include transition(all 300ms ease-out 0ms);
	@include rotate(0deg);
}

.bar-1{
	top: 0px;
	@include transform-origin(0px, 5px);
}

.bar-3{
	top: 8px;
}

.bar-6{
	top: 16px;
}

.bar-7{
	opacity: 0.0;
	top: 8px;
}

.nav-links{
  margin-top: 60px;
  text-align: center;

   .menu-item{
    // padding: 1.5rem;
    font-size: 3vw;
    text-transform: uppercase;
    @include transition(all 100ms ease-out);


    a{
      text-decoration: none;
      color: $dark-grey;
      @include transition(all 100ms ease-out);
    }

    &:hover{
      background-color: $red;

      a{
        color: white;
      }
    }
  }
}
