#grid {
  padding:0 0 100px 0;
  background-color:#161616;
}

#Gallery-Nav {
  height:$header-height;
  padding-top: 20px;
  padding-right: 30px;
  a {
    color: $dark-grey;
  }
  a:hover {
    color:#989898
  }

}

#Home-Button{
  position: relative;
  float: right;
  background: none;
  height: 60px;

}

.glyphicon-home {
  font-size: 40px;
  font-color: $dark-grey;
  a:hover {
    font-color:#989898
  }
}

.grid {
  position: relative;
  width: 100%;
  // margin-top: 80px;
  overflow: hidden;
  *zoom: 1
}

.grid:before,
.grid:after {
  content: " ";
  display: table
}

.grid:after {
  clear: both
}

.grid h1.grid-header {
  font-size: 1.1rem;
  line-height: 1.9rem;
  padding: 0 15px 0;
  margin: 0 15px
}

.grid .block {
  background-color: none !important;
  float: left;
  display: block;
  margin: 0;
  width: 100%;
  position: relative;
}

// .background img {
//   height:80%;
//   width:30%;
// }

.grid .block.hidden {
  display: none
}

.grid .block .block-inner .block-content {
  position: absolute;
  width: 100.1%;
  height: 100%;
  top: 0;
  left: 0px;
  bottom: 0;
  right: 0px;
  background: no-repeat center center;
  overflow: hidden
}

.grid .block .block-inner .block-content .content-inner {
  position: absolute;
  width: 100%;
  height: 100%;
  background: transparent
}

.grid .block .block-inner .block-content .content-inner .caption {
  position: absolute;
  color: #fff;
  top: 0;
  left: 0px;
  bottom: 0;
  right: 0px
}



.grid .block .block-inner .block-content .content-inner .prevnext-share-btn a:hover {
  border: none !important;
  opacity: 0.7
}

.grid .block .block-inner .block-content .content-inner .prevnext-share-btn:hover ~ nav {
  opacity: 0.8
}




.grid .block .block-inner .block-content .content-rollover {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  background-color: transparent;
  -webkit-transition: top 0.44s ease-in-out;
  -moz-transition: top 0.44s ease-in-out;
  -ms-transition: top 0.44s ease-in-out;
  -o-transition: top 0.44s ease-in-out;
  transition: top 0.44s ease-in-out
}

.grid .block .block-inner .block-content .content-rollover .background {
  position: relative;
  left: 0px;
  right: 0px;
  width: 100%;
  height: 100%
}

.grid .block .block-inner .block-content .content-rollover .background img {
  position: relative;
  left: 50%;
  @include translateX(-50%);
  max-width: 100%;
}

.grid .block .block-inner .block-content .content-rollover .caption {
  color: #fff;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  -webkit-transition: opacity 0.44s ease-in-out;
  -moz-transition: opacity 0.44s ease-in-out;
  -ms-transition: opacity 0.44s ease-in-out;
  -o-transition: opacity 0.44s ease-in-out;
  transition: opacity 0.44s ease-in-out;
  opacity: 0
}


.grid .block .block-inner .block-content:hover {
  background-color: #333 !important;
  transition-delay: 0s;
  -ms-transition-delay: 0s;
  -webkit-transition-delay: 0s;
  -o-transition-delay: 0s
}

.grid .block .block-inner .block-content:hover .content-rollover .caption {
  opacity: 1
}

@media only screen and (max-width: 639px) {

}

@media only screen and (min-width: 640px) {

  .grid h1.grid-header {
    font-size: 1.125rem;
    line-height: 1.5rem;
    padding: 0 0 15px;
    margin: 0 45px;
    margin-top: -30px
  }
  .grid .block {
    background-color: none !important
  }

  .grid .block.medium-half {
    display: inline-block;
    width: 50%
  }


}

@media only screen and (min-width: 640px) and (max-width: 1099px) {

}

@media only screen and (min-width: 1100px) {

  .grid .block {
    display: inline-block;
    float: left
  }
  .grid .block.large-one-third {
    display: inline-block;
    width: 33.333333%
  }
}
